<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Pizza Toppings!</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h3>Pizza toppings, do you like them? What kind do you like? <strong>LET'S FIND OUT!</strong></h3>

  <ion-list>
    <ion-item ion-item *ngFor="let item of items">
      <ion-label>{{item.title}}</ion-label>
      <ion-checkbox (ionChange)="itemChecked(item)"></ion-checkbox>
    </ion-item>

  </ion-list>

  <div *ngIf="selectedItems.length > 0">
    <h3>Your <span *ngIf="pizzaIsGross">fucking disgusting</span><span *ngIf="!pizzaIsGross">delicious</span> pizza will have the following:</h3>
    <ion-list>
      <div ion-item *ngFor="let item of selectedItems">{{item.title}} <span *ngIf="item.gross" style="color: red">GROSS, DUDE</span> </div>
    </ion-list>
  </div>
</ion-content>
